<br />
<p style="text-align: center; font-size: 20px">
  Are you interested / planning to join this event?
</p>
<div class="image">
  <img [src]="images[i]" alt="session recommendation" id="sessionimage" />
</div>
<div style="margin-left: 30%">
  <div class="left">
    <button class="join" id="btnj" (click)="like()">✓</button>
  </div>
  <div class="left">
    <button class="join" id="btnj" (click)="dislike()">×</button>
  </div>
</div>
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.4.1.min.js"
></script>
<script type="text/javascript" src="recommend.js"></script>
